<h1>Product Ingredients</h1>

<p>This component demonstrates fetching data from the server.</p>
<p *ngIf="!prodIngredients"><em>Loading...</em></p>

<table class='table' *ngIf="prodIngredients">
    <thead>
        <tr>
            <th>Actions</th>
            <th>ID</th>
            <th>Product Name</th>
            <th>Ingredient Name</th>
            <th>Units</th>
        </tr>
    </thead>
    <tbody>
               
        <tr *ngFor="let ingredient of prodIngredients">
            <td>
                <a class="add" title="" data-toggle="tooltip"><i class="glyphicon glyphicon-plus"> </i></a>
                <a class="edit" title="" data-toggle="tooltip"><i class="glyphicon glyphicon-pencil"> </i></a>
                <a class="delete" title="" data-toggle="tooltip" ><i class="glyphicon glyphicon-trash"> </i></a>
            </td>            
            <td>{{ ingredient.id }}</td>
            <td>{{ ingredient.productName }}</td>
            <td>{{ ingredient.ingredientName }}</td>
            <td>{{ ingredient.unit }}</td>
        </tr>
    </tbody>
</table>
